<app-card [title]="'Add Hierarchy'">
    <p-messages [closable]="true" key="message"></p-messages>
    <form (ngSubmit)="submitForm()" [formGroup]="form">
        <div class="formgrid grid">
            <div class="field col-6 md:col-12 col-xs-12">
                <label for="name">Name</label>
                <input (blur)="validateCategoryForm()" class="w-full" formControlName="name"
                       id="name"
                       pInputText type="text">
                <span *ngIf="formErrors.name"
                      class="text-danger text-left">{{ formErrors.name }}</span>
            </div>
        </div>
        <div class="formgrid grid submit">
            <p-button icon="pi pi-check" iconPos="right" label="Submit" type="submit"></p-button>
        </div>
    </form>
</app-card>
