<div (window:resize)="onResize($event)"
     [attr.hnavigation-view]="vNavigationView"
     [attr.horizontal-layout]="verticalLayout"
     [attr.horizontal-placement]="verticalPlacement"
     [attr.layout-type]="layoutType"
     [attr.nav-type]="navType"
     [attr.pcoded-device-type]="deviceType"
     [attr.theme-layout]="themeLayout"
     [attr.vertical-nav-type]="verticalNavType"
     class="pcoded">
    <div class="pcoded-overlay-box"></div>
    <div class="pcoded-container navbar-wrapper">
        <nav [attr.header-theme]="headerTheme" [attr.pcoded-header-position]="pcodedHeaderPosition"
             class="navbar header-navbar pcoded-header">
            <div class="navbar-wrapper">
                <div [attr.logo-theme]="logoTheme" class="navbar-logo">
                    <a (click)="toggleOpened()" (clickOutside)="onClickedOutside($event)" [exclude]="'#main_navbar'"
                       class="mobile-menu"
                       href="javascript:" id="mobile-collapse">
                        <i class="ti-menu"></i>
                    </a>
                    <a [routerLink]="['/dashboard']">
                        <img alt="" class="auth-logo" src="assets/images/VANTAGE.jpg">
                    </a>
                    <a (click)="onMobileMenu()" class="mobile-options">
                        <i class="ti-more"></i>
                    </a>
                </div>
                <div class="navbar-container">
                    <div>
                        <ul [@mobileMenuTop]="isCollapsedMobile" [ngClass]="isCollapsedMobile" class="nav-right">
                            <li class="user-profile header-notification">
                                <a routerLink="#">
                                    <img alt="User-Profile-Image" class="img-radius" src="assets/images/avatar-4.jpg">
                                    <span>{{this.commonService.user.getValue().userData.first_name + ' ' + this.commonService.user.getValue().userData.last_name}}</span>
                                    <i class="ti-angle-down"></i>
                                </a>
                                <ul class="show-notification profile-notification">
                                    <li>
                                        <a [routerLink]="['/user/profile']">
                                            <i class="ti-user"></i> Profile
                                        </a>
                                    </li>
                                    <!--                                    <li>-->
                                    <!--                                        <a [routerLink]="['/auth/lock-screen']" target="_blank">-->
                                    <!--                                            <i class="ti-lock"></i> Lock Screen-->
                                    <!--                                        </a>-->
                                    <!--                                    </li>-->
                                    <li>
                                        <a (click)="this.commonService.logOut()">
                                            <i class="ti-layout-sidebar-left"></i> Logout
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>

        <!-- rightbar chat start -->
        <div [@slideInOut]="verticalPlacement === 'right' ? chatToggleInverse : chatToggle" class="users p-chat-user"
             id="sidebar">
            <div class="had-container">
                <div class="card card_main p-fixed users-main">
                    <div class="user-box">
                        <div class="main-friend-list scroll-window">
                            <perfect-scrollbar [config]="config" [style.max-width]="'100%'">
                                <div (click)="toggleChatInner()" class="media userlist-box" data-id="1"
                                     ngbTooltip="Josephin Doe"
                                     placement="left">
                                    <a class="media-left" href="javascript:">
                                        <img alt="Generic placeholder image" class="media-object "
                                             src="assets/images/avatar-2.jpg">
                                        <div class="live-status bg-success"></div>
                                    </a>
                                    <div class="media-body">
                                        <div class="f-13 chat-header">Josephin Doe</div>
                                    </div>
                                </div>
                                <div (click)="toggleChatInner()" class="media userlist-box" data-id="2"
                                     data-status="online" data-username="Lary Doe" ngbTooltip="Lary Doe"
                                     placement="left">
                                    <a class="media-left" href="javascript:">
                                        <img alt="Generic placeholder image" class="media-object "
                                             src="assets/images/avatar-3.jpg">
                                        <div class="live-status bg-success"></div>
                                    </a>
                                    <div class="media-body">
                                        <div class="f-13 chat-header">Lary Doe</div>
                                    </div>
                                </div>
                                <div (click)="toggleChatInner()" class="media userlist-box" data-id="3"
                                     data-status="online" data-username="Alice" ngbTooltip="Alice" placement="left">
                                    <a class="media-left" href="javascript:">
                                        <img alt="Generic placeholder image" class="media-object "
                                             src="assets/images/avatar-5.jpg">
                                        <div class="live-status bg-success"></div>
                                    </a>
                                    <div class="media-body">
                                        <div class="f-13 chat-header">Alice</div>
                                    </div>
                                </div>
                                <div (click)="toggleChatInner()" class="media userlist-box" data-id="4"
                                     data-status="offline" data-username="Alia" ngbTooltip="Alia" placement="left">
                                    <a class="media-left" href="javascript:">
                                        <img alt="Generic placeholder image" class="media-object "
                                             src="assets/images/avatar-3.jpg">
                                        <div class="live-status bg-danger"></div>
                                    </a>
                                    <div class="media-body">
                                        <div class="f-13 chat-header">Alia</div>
                                    </div>
                                </div>
                                <div (click)="toggleChatInner()" class="media userlist-box" data-id="5"
                                     data-status="online" data-username="Suzen" ngbTooltip="Suzen" placement="left">
                                    <a class="media-left" href="javascript:">
                                        <img alt="Generic placeholder image" class="media-object "
                                             src="assets/images/avatar-5.jpg">
                                        <div class="live-status bg-success"></div>
                                    </a>
                                    <div class="media-body">
                                        <div class="f-13 chat-header">Suzen</div>
                                    </div>
                                </div>
                                <div (click)="toggleChatInner()" class="media userlist-box" data-id="6"
                                     data-status="offline" data-username="Michael Scofield"
                                     ngbTooltip="Michael Scofield"
                                     placement="left">
                                    <a class="media-left" href="javascript:">
                                        <img alt="Generic placeholder image" class="media-object "
                                             src="assets/images/avatar-2.jpg">
                                        <div class="live-status bg-danger"></div>
                                    </a>
                                    <div class="media-body">
                                        <div class="f-13 chat-header">Michael Scofield</div>
                                    </div>
                                </div>
                            </perfect-scrollbar>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div [@slideOnOff]="verticalPlacement === 'right' ? chatInnerToggleInverse : chatInnerToggle"
             class="card card_main showChat_inner">
            <div class="media chat-inner-header">
                <a (click)="toggleChatInner()" class="back_chatBox">
                    <i class="icofont icofont-rounded-left"></i> Josephin Doe
                </a>
            </div>
            <perfect-scrollbar [config]="config" [style.max-height]="'calc(100vh - 280px)'" [style.max-width]="'100%'">
                <div class="media chat-messages">
                    <a class="media-left photo-table" href="javascript:">
                        <img alt="Generic placeholder image" class="media-object  m-t-5"
                             src="assets/images/avatar-1.jpg">
                    </a>
                    <div class="media-body chat-menu-content">
                        <div class="">
                            <p class="chat-cont">I'm just looking around. Will you tell me something about yourself?</p>
                            <p class="chat-time">8:20 a.m.</p>
                        </div>
                    </div>
                </div>
                <div class="media chat-messages">
                    <div class="media-body chat-menu-reply">
                        <div class="">
                            <p class="chat-cont">I'm just looking around. Will you tell me something about yourself?</p>
                            <p class="chat-time">8:20 a.m.</p>
                        </div>
                    </div>
                    <div class="media-right photo-table">
                        <a href="javascript:">
                            <img alt="Generic placeholder image" class="media-object  m-t-5"
                                 src="assets/images/avatar-4.jpg">
                        </a>
                    </div>
                </div>
            </perfect-scrollbar>
            <div class="chat-reply-box p-b-20">
                <div class="right-icon-control">
                    <input class="form-control search-text" placeholder="Share Your Thoughts" type="text">
                    <div class="form-icon">
                        <i class="icofont icofont-paper-plane"></i>
                    </div>
                </div>
            </div>
        </div>
        <!-- right-bar inner chat end -->

        <div [style.margin-top]="headerFixedMargin" class="pcoded-main-container">
            <nav (clickOutside)="onClickedOutside($event)" [attr.active-item-theme]="activeItemTheme"
                 [attr.navbar-theme]="navBarTheme"
                 [attr.pcoded-header-position]="pcodedHeaderPosition"
                 [attr.pcoded-navbar-position]="pcodedSidebarPosition"
                 [exclude]="'#mobile-collapse'" active-item-style="style0" class=" pcoded-navbar"
                 id="main_navbar" sub-item-theme="theme2">
                <div class="sidebar_toggle"><a href="javascript:"><i class="icon-close icons"></i></a></div>
                <div appAccordion class="pcoded-inner-navbar">
          <span *ngFor="let asideItems of menuItems.getAll()" class="d-color">
            <ul *ngFor="let asideItem of asideItems.main" [attr.item-border-style]="itemBorderStyle"
                [attr.item-border]="itemBorder" [attr.subitem-border]="subItemBorder"
                appAccordionLink class="menu-main-item pcoded-item pcoded-left-item" group="{{asideItem.state}}">
                <li *ngIf="asideItem.type === 'external'" [routerLinkActive]="['active']" appAccordionLink
                    group="{{asideItem.state}}">
                  <a appAccordionToggle appTrigger href="{{asideItem.external}}"
                     target="{{asideItem.target ? '_blank' : '_self'}}">
                    <span class="pcoded-micon"><i
                            class="{{ asideItem.icon }}"></i><b>{{ asideItem.short_label }}</b></span>
                    <span class="pcoded-mtext">{{ asideItem.name }}</span>
                    <span *ngFor="let asideBadge of asideItem.badge"
                          class="pcoded-badge label label-{{ asideBadge.type }}">{{asideBadge.value}}</span>
                    <span class="pcoded-mcaret"></span>
                  </a>
                </li>
                <li *ngIf="asideItem.type === 'link'" [routerLinkActive]="['active']" appAccordionLink
                    group="{{asideItem.state}}">
                  <a *ngIf="!asideItem.target && asideItem.main_state"
                     [routerLink]="['/', asideItem.main_state, asideItem.state]" appAccordionToggle
                     appTrigger>
                    <span class="pcoded-micon"><i
                            class="{{ asideItem.icon }}"></i><b>{{ asideItem.short_label }}</b></span>
                    <span class="pcoded-mtext">{{ asideItem.name }}</span>
                    <span *ngFor="let asideBadge of asideItem.badge"
                          class="pcoded-badge label label-{{ asideBadge.type }}">{{asideBadge.value}}</span>
                    <span class="pcoded-mcaret"></span>
                  </a>
                  <a *ngIf="asideItem.target && asideItem.main_state"
                     [routerLink]="['/', asideItem.main_state, asideItem.state]" appAccordionToggle
                     target="_blank">
                    <span class="pcoded-micon"><i
                            class="{{ asideItem.icon }}"></i><b>{{ asideItem.short_label }}</b></span>
                    <span class="pcoded-mtext">{{ asideItem.name }}</span>
                    <span *ngFor="let asideBadge of asideItem.badge"
                          class="pcoded-badge label label-{{ asideBadge.type }}">{{asideBadge.value}}</span>
                    <span class="pcoded-mcaret"></span>
                  </a>
                  <a *ngIf="!asideItem.target && !asideItem.main_state" [routerLink]="['/', asideItem.state]"
                     appAccordionToggle
                     appTrigger>
                    <span class="pcoded-micon"><i
                            class="{{ asideItem.icon }}"></i><b>{{ asideItem.short_label }}</b></span>
                    <span class="pcoded-mtext">{{ asideItem.name }}</span>
                    <span *ngFor="let asideBadge of asideItem.badge"
                          class="pcoded-badge label label-{{ asideBadge.type }}">{{asideBadge.value}}</span>
                    <span class="pcoded-mcaret"></span>
                  </a>
                  <a *ngIf="asideItem.target && !asideItem.main_state" [routerLink]="['/', asideItem.state]"
                     appAccordionToggle target="_blank">
                    <span class="pcoded-micon"><i
                            class="{{ asideItem.icon }}"></i><b>{{ asideItem.short_label }}</b></span>
                    <span class="pcoded-mtext">{{ asideItem.name }}</span>
                    <span *ngFor="let asideBadge of asideItem.badge"
                          class="pcoded-badge label label-{{ asideBadge.type }}">{{asideBadge.value}}</span>
                    <span class="pcoded-mcaret"></span>
                  </a>
                </li>
                <li *ngIf="asideItem.type === 'sub'" [attr.dropdown-icon]="dropDownIcon"
                    [attr.subitem-icon]="subItemIcon"
                    [routerLinkActive]="['active']" appAccordionLink class="pcoded-hasmenu"
                    group="{{asideItem.state}}">
                  <a [routerLinkActive]="['active']" appAccordionToggle class="main-click-trigger" href="javascript:">
                    <span class="pcoded-micon"><i
                            class="{{ asideItem.icon }}"></i><b>{{ asideItem.short_label }}</b></span>
                    <span class="pcoded-mtext">{{ asideItem.name }}</span>
                    <span *ngFor="let asideBadge of asideItem.badge"
                          class="pcoded-badge label label-{{ asideBadge.type }}">{{asideBadge.value}}</span>
                    <span class="pcoded-mcaret"></span>
                  </a>
                  <ul class="pcoded-submenu">
                    <ng-template [ngForOf]="asideItem.children" let-asideChildren ngFor>
                      <li *ngIf="asideChildren.type !== 'sub' " [routerLinkActive]="['active']" appAccordionLink
                          group="{{asideChildren.state}}">
                        <a *ngIf="!asideChildren.target && asideChildren.main_state"
                           [routerLink]="['/', asideChildren.main_state, asideChildren.state]"
                           appAccordionToggle appTrigger>
                          <span class="pcoded-micon"><i
                                  class="{{ asideChildren.icon }}"></i><b>{{ asideChildren.short_label }}</b></span>
                          <span class="pcoded-mtext">{{ asideChildren.name }}</span>
                          <span *ngFor="let asideBadge of asideChildren.badge"
                                class="pcoded-badge label label-{{ asideBadge.type }}">{{asideBadge.value}}</span>
                          <span class="pcoded-mcaret"></span>
                        </a>
                        <a *ngIf="asideChildren.target && asideChildren.main_state"
                           [routerLink]="['/', asideChildren.main_state, asideChildren.state]"
                           appAccordionToggle target="_blank">
                          <span class="pcoded-micon"><i
                                  class="{{ asideChildren.icon }}"></i><b>{{ asideChildren.short_label }}</b></span>
                          <span class="pcoded-mtext">{{ asideChildren.name }}</span>
                          <span *ngFor="let asideBadge of asideChildren.badge"
                                class="pcoded-badge label label-{{ asideBadge.type }}">{{asideBadge.value}}</span>
                          <span class="pcoded-mcaret"></span>
                        </a>
                        <a *ngIf="!asideChildren.target && !asideChildren.main_state"
                           [routerLink]="['/', asideChildren.state]"
                           appAccordionToggle appTrigger>
                          <span class="pcoded-micon"><i
                                  class="{{ asideChildren.icon }}"></i><b>{{ asideChildren.short_label }}</b></span>
                          <span class="pcoded-mtext">{{ asideChildren.name }}</span>
                          <span *ngFor="let asideBadge of asideChildren.badge"
                                class="pcoded-badge label label-{{ asideBadge.type }}">{{asideBadge.value}}</span>
                          <span class="pcoded-mcaret"></span>
                        </a>
                        <a *ngIf="asideChildren.target && !asideChildren.main_state"
                           [routerLink]="['/', asideChildren.state]" appAccordionToggle target="_blank">
                          <span class="pcoded-micon"><i
                                  class="{{ asideChildren.icon }}"></i><b>{{ asideChildren.short_label }}</b></span>
                          <span class="pcoded-mtext">{{ asideChildren.name }}</span>
                          <span *ngFor="let asideBadge of asideChildren.badge"
                                class="pcoded-badge label label-{{ asideBadge.type }}">{{asideBadge.value}}</span>
                          <span class="pcoded-mcaret"></span>
                        </a>
                      </li>

                      <li *ngIf="asideChildren.type === 'sub'" [attr.dropdown-icon]="dropDownIcon"
                          [attr.subitem-icon]="subItemIcon"
                          [routerLinkActive]="['active']" appAccordionLink class="pcoded-hasmenu"
                          group="sub-toggled">
                        <a appAccordionToggle href="javascript:">
                          <span class="pcoded-micon"><i class="icon-direction-alt"></i></span>
                          <span class="pcoded-mtext">{{ asideChildren.name }}</span>
                          <span *ngFor="let asideChildrenBadge of asideChildren.badge"
                                class="pcoded-badge label label-{{ asideChildrenBadge.type }}">{{asideChildrenBadge.value}}</span>
                          <span class="pcoded-mcaret"></span>
                        </a>
                        <ul class="pcoded-submenu">
                          <ng-template [ngForOf]="asideChildren.children" let-asideChildrenSub ngFor>
                            <li *ngIf="asideChildrenSub.type !== 'sub'" [routerLinkActive]="['active']"
                                appAccordionLink>
                              <a *ngIf="!asideChildrenSub.target"
                                 [routerLink]="['/', asideChildren.state, asideChildrenSub.state]"
                                 appTrigger>
                                <span class="pcoded-micon"><i class="icon-angle-right"></i></span>
                                <span class="pcoded-mtext">{{ asideChildrenSub.name }}</span>
                                <span *ngFor="let asideChildrenSubBadge of asideChildrenSub.badge"
                                      class="pcoded-badge label label-{{ asideChildrenSubBadge.type }}">{{asideChildrenSubBadge.value}}</span>
                                <span class="pcoded-mcaret"></span>
                              </a>
                              <a *ngIf="asideChildrenSub.target"
                                 [routerLink]="['/', asideChildren.state, asideChildrenSub.state]" target="_blank">
                                <span class="pcoded-micon"><i class="icon-angle-right"></i></span>
                                <span class="pcoded-mtext">{{ asideChildrenSub.name }}</span>
                                <span *ngFor="let asideChildrenSubBadge of asideChildrenSub.badge"
                                      class="pcoded-badge label label-{{ asideChildrenSubBadge.type }}">{{asideChildrenSubBadge.value}}</span>
                                <span class="pcoded-mcaret"></span>
                              </a>
                            </li>

                            <li *ngIf="asideChildrenSub.type === 'sub'" [attr.dropdown-icon]="dropDownIcon"
                                [attr.subitem-icon]="subItemIcon" [routerLinkActive]="['active']"
                                appAccordionLink class="pcoded-hasmenu" group="sub-super-toggled">
                              <a appAccordionToggle href="javascript:">
                                <span class="pcoded-micon"><i class="icon-direction-alt"></i></span>
                                <span class="pcoded-mtext">{{ asideChildrenSub.name }}</span>
                                <span *ngFor="let asideChildrenSubBadge of asideChildrenSub.badge"
                                      class="pcoded-badge label label-{{ asideChildrenSubBadge.type }}">{{asideChildrenSubBadge.value}}</span>
                                <span class="pcoded-mcaret"></span>
                              </a>
                              <ul class="pcoded-submenu">
                                <ng-template [ngForOf]="asideChildrenSub.children" let-asideChildrenSubSuper ngFor>
                                  <li [routerLinkActive]="['active']" appAccordionLink>
                                    <a *ngIf="!asideChildrenSubSuper.target"
                                       [routerLink]="['/', asideChildren.state, asideChildrenSub.state, asideChildrenSubSuper.state]"
                                       appTrigger>
                                      <span class="pcoded-micon"><i class="icon-angle-right"></i></span>
                                      <span class="pcoded-mtext">{{ asideChildrenSubSuper.name }}</span>
                                      <span *ngFor="let asideChildrenSubSuperBadge of asideChildrenSubSuper.badge"
                                            class="pcoded-badge label label-{{ asideChildrenSubSuperBadge.type }}">{{asideChildrenSubSuperBadge.value}}</span>
                                      <span class="pcoded-mcaret"></span>
                                    </a>
                                    <a *ngIf="asideChildrenSubSuper.target"
                                       [routerLink]="['/', asideChildren.state, asideChildrenSub.state, asideChildrenSubSuper.state]"
                                       target="_blank">
                                      <span class="pcoded-micon"><i class="icon-angle-right"></i></span>
                                      <span class="pcoded-mtext">{{ asideChildrenSubSuper.name }}</span>
                                      <span *ngFor="let asideChildrenSubSuperBadge of asideChildrenSubSuper.badge"
                                            class="pcoded-badge label label-{{ asideChildrenSubSuperBadge.type }}">{{asideChildrenSubSuperBadge.value}}</span>
                                      <span class="pcoded-mcaret"></span>
                                    </a>
                                  </li>
                                </ng-template>
                              </ul>
                            </li>
                          </ng-template>
                        </ul>
                      </li>
                    </ng-template>
                  </ul>
                </li>
              </ul>
          </span>
                </div>
            </nav>
            <div class="pcoded-wrapper">
                <div class="pcoded-content">
                    <div class="pcoded-inner-content">
                        <div class="main-body">
                            <div class="page-wrapper">
                                <app-title></app-title>
                                <app-breadcrumbs></app-breadcrumbs>
                                <div class="page-body">
                                    <router-outlet>
                                        <app-spinner></app-spinner>
                                    </router-outlet>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

