<section class="login p-fixed d-flex text-center bg-primary">
    <div class="auth-fluid">
        <div class="p-grid p-fluid">
            <div class="p-col-12">
                <div class="login-card card-body auth-body">
                    <form class="md-float-material">
                        <div class="text-center">
                            <img alt="logo.png" class="auth-logo" src="assets/images/auth/PeecLogo.webp">
                        </div>
                        <div class="auth-box">
                            <div class="p-grid p-fluid m-b-20">
                                <div class="p-col-12">
                                    <h3 class="text-left txt-primary">Almost there.. Let's create a new password</h3>
                                </div>
                            </div>
                            <hr/>
                            <p-messages [closable]="true" key="message"></p-messages>
                            <form (ngSubmit)="forgotPasswordRequest()" [formGroup]="resetPasswordForm">
                                <div class="p-grid p-fluid">
                                    <div class="p-col-12 p-md-2">
                                        <div class="p-inputgroup">
                                            <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>
                                            <input (blur)="validateResetPasswordForm()" formControlName="token"
                                                   pInputText placeholder="Token"
                                                   type="token">
                                        </div>
                                        <span *ngIf="formErrors.token"
                                              class="text-danger text-left">{{ formErrors.token }}</span>
                                    </div>
                                    <div class="p-col-12 p-md-2">
                                        <div class="p-inputgroup">
                                            <span class="p-inputgroup-addon"><i class="pi pi-lock"></i></span>
                                            <input (blur)="validateResetPasswordForm();comparePasswords();"
                                                   [feedback]="false"
                                                   formControlName="password" pPassword placeholder="********"
                                                   type="password"/>
                                        </div>
                                        <span *ngIf="formErrors.password"
                                              class="text-danger text-left">{{ formErrors.password }}</span>
                                    </div>
                                    <div class="p-col-12 p-md-2">
                                        <div class="p-inputgroup">
                                            <span class="p-inputgroup-addon"><i class="pi pi-lock"></i></span>
                                            <input (blur)="validateResetPasswordForm();comparePasswords();"
                                                   [feedback]="false"
                                                   formControlName="confirm_password" pPassword placeholder="********"
                                                   type="password"/>
                                        </div>
                                        <span *ngIf="formErrors.confirm_password"
                                              class="text-danger text-left">{{ formErrors.confirm_password }}</span>
                                    </div>
                                </div>
                                <div class="row m-t-5">
                                    <div class="col-md-12">
                                        <button class="btn btn-primary btn-md btn-block waves-effect text-center m-b-20"
                                                type="submit">
                                            Submit
                                        </button>
                                    </div>
                                </div>
                                <div class="row m-t-5">
                                    <div class="col-md-12">
                                        <a class="btn btn-primary btn-md btn-block waves-effect text-center m-b-20"
                                           routerLink="/auth/forgot">
                                            Regenerate Token
                                        </a>
                                    </div>
                                </div>
                            </form>
                            <hr/>
                            <div class="row">
                                <div class="col-md-10 text-center">
                                    <p class="text-inverse text-left m-b-0">All rights reserved. NepServ Consults.</p>
                                    <p class="text-inverse text-left"><b>Designed & Developed by Akua Group</b></p>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
