<div class="pcoded">
    <div class="pcoded-main-container">
        <div class="pcoded-wrapper">
            <div class="pcoded-content">
                <div class="pcoded-inner-content">
                    <div class="main-body">
                        <div class="page-wrapper">
                            <app-title></app-title>
                            <div class="page-body">
                                <router-outlet>
                                    <app-spinner></app-spinner>
                                </router-outlet>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

